.gallery-title {
  margin: 5rem auto auto 0;
}

.gallery {
  @extend %flex-centered;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem auto 0;

  @include media-tablet-portrait {
    margin: 0.5rem auto 0;
  }
}

.gallery-image {
  max-width: 456px;
  max-height: 320px;

  @include media-phone {
    width: 90%;
    height: 90%
  }

  @include media-iphone5 {
    width: 297px;
    height: 212px;
  }
}
