.gallery-title {
  margin: 5rem auto auto 0;

  @include media-this-project {
    margin: 6rem auto auto 0;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 360px;
  margin: 0 auto;

  overflow: hidden;

  @include media-phone {
    width: 280px;
    margin: 10px auto 0;
  }
}

.page-link,
.prev-page,
.next-page {
  cursor: pointer;
}

.prev-page,
.page-link:nth-last-child(n+2) {
  margin-right: 0.8rem;
}

.total-pages {
  margin: 0 auto;

  text-align: center;
}

.gallery {
  @extend %flex-centered;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem auto 0;

  @include media-tablet-portrait {
    margin: 0.5rem auto 0;
  }
}

.gallery-image {
  width: 456px;
  height: 320px;

  @include media-tablet-landscape {
    width: 297px;
    height: 212px;
  }

  @include media-iphone5 {
    width: 297px;
    height: 212px;
  }
}
