.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;

  background: $dark-color;
  outline: 4px solid $brand-color;
}

.header-light {
  background: $light-color;
  outline-color: $dark-color;
}

.container-header {
  min-height: 60px;
  @extend %flex-centered-items-space-btw;

  @include media-tablet-portrait {
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include media-iphone5 {
    justify-content: space-between;
    padding: 25px;
  }
}

.logo-section,
.search-section {
  @extend %flex-centered-items-space-btw;
}

.logo {
  width: 50px;
  height: 50px;

  @include mask("../assets/favicon/gallery96x96.png");

  @extend %transition;

  @include media-tablet-portrait {
    width: 45px;
  }

  @include media-iphone5 {
    width: 40px;
    height: 40px;
  }
}

.logo-light {
  @include mask("../assets/favicon/gallery96x96.png", cover, $dark-color, $brand-color);
}

.header-title {
  margin: 0 0 0 2rem;
}

.theme-switcher {
  width: 45px;
  height: 45px;
  margin: 0 0 0 2.2rem;

  @extend %transition;

  @include mask("../assets/svg/light-theme-icon.svg");
  cursor: pointer;

  @include media-tablet-portrait {
    margin-left: 0;
  }
}

.theme-switcher-light {
  @include mask("../assets/svg/dark-theme-icon.svg", cover, $dark-color, $brand-color);
}
