/// Fonts
$title-font: normal 700 2rem/2.5rem "Inter-Bold";
$title-tablet-font: normal 700 1.5rem/2rem "Inter-Bold";
$section-title-font: normal 400 1.5rem/2rem "Inter-Regular";
$section-title-tablet-font: normal 400 1.3rem/1.6rem "Inter-Regular";
$text-font: normal 400 1.125rem/2rem "Inter-Regular";
$form-font: normal 400 1.25rem/2.2rem "Inter-Regular";



/// Background dark theme color
/// @type Color
$dark-color: #1c1c1c !default;

/// Background light theme color
/// @type Color
$light-color: #ffffff !default;

/// Main brand color
/// @type Color
$brand-color: #ffa500 !default;

/// Container's maximum width
/// @type Length
$max-width: 1440px !default;

