/**
 * Basic typography style for copy text
 */
.body {
  font: $text-font;
  color: $light-color;
}

.body-light {
  color: $dark-color;

  & a {
    color: $dark-color;
  }

   & a:hover {
    color: $brand-color;
    text-shadow: 1px 1px 2px rgba($light-color, 1)
  }
}

.header-title {
  font: $title-font;
  color: $brand-color;
}

.header-title-light {
  color: $dark-color;
}

.search-field {
  font: $form-font;
}

.gallery-title {
  font: $section-title-font;
}

.page-link,
.prev-page,
.next-page {
font: $form-font;

  &:hover,
  &:focus {
    color: lighten($brand-color, 25%);
  }

  &:active {
    color: darken($brand-color, 10%);
  }
}

.footer {
  font: $form-font;
}

.active-link{
  color: $brand-color;
  text-shadow: 1px 1px 2px rgba($light-color, 1);
}
